<li style="display: list-item">
  <div class='itemWrap small'>
    <div class="itemContent">
      <label class="itemName"><%= item_name %></label>
      <label class="itemQuantity"><%= item_quantity %></label>
      <span class="itemQuantityAfter">nos.</span>
      <label class="itemPrice"><%= total_price == 0 ? "-" : total_price %></label>
    </div>
  </div>
</li>